#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border-bottom: 1px solid #363636;
    padding: 0.1em 1em;
}

#nav-link{
    display: flex;        
    align-items: center;    
}
#nav-link li{
    margin-right: 1em;
}

#nav-link span{
    cursor: pointer;
}
