react-grid-HeaderCell {
    font-size: 160px;
  }
  
  /* Change the background color of the selected rows */
  .react-grid-Row.selected {
    background-color: #e6f7ff;
  }
  
  /* Change the font color of the cell text */
  .react-grid-Cell {
    color: #333;
  }